<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DermaCare AI</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="chat-container">
        <div class="chat-header">
            <h1>DermaCare AI</h1>
            <span>Your Personal Skincare FAQ Assistant</span>
        </div>

        <!-- Chat Messages -->
        <div id="chatBox">
            <div class="message bot">
                Hello! Ask me anything about skincare.
            </div>
        </div>

        <div class="input-area">
            <input type="text" id="userInput" placeholder="Ask a question">
            <button onclick="sendMessage()"> Send </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
